:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3; 
  --orange: #FF9300;
  --babySleep: #009193;
  --meme: #81024a;
  --memeLight:#498102;
  --burn:#30322F;
  --burnOrange:#CB484B;
  --random:#FF453A;
  --jokes:#FFFB00;
  --activity:#00C7FF;
}

.row {
    display: flex;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: url("images/muir.jpg");
  /* Full height */
  height: 100%;
  overflow: auto;
  margin:0px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  margin: 100px auto 0;
  width: 400px;
  height: 600px;
  perspective: 1000px;
}


.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  
}



.card__face--front {
  background-image: url("images/iFoxify.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.card__face--front-BabySleep {
  background-image: url("images/logoSimple.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #009193;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--iMeme {
  background-image: url("images/iMemeLogo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #81024a;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--iMemeLite {
  background-image: url("images/iMemeLogoLite.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #498102;;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--burn {
  background-image: url("images/logoBurn.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #30322F;;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--random {
  background-image: url("images/random.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #FF453A;;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--joke {
  background-image: url("images/laughingLogo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #FFFB00;;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--activity {
  background-image: url("images/BoredLogo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #00C7FF;;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--cars{
  background-image: url("images/RumbleCarsLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00C7FF;;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.card__face--front--Planetary{
  background-image: url("images/PlanetaryPursuitLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00C7FF;;
  display:flex;
  align-items: center;
  justify-content: center; 
}



.card__face--front h2 {
  color: rgb(0, 0, 0);
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--orange);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card__header_BabySleep {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header_iMeme {
  position: relative;
  padding: 30px 30px 40px;
}
.card__header_iMemeLite {
  position: relative;
  padding: 30px 30px 40px;
}
.card__header_burn {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header_random {
  position: relative;
  padding: 30px 30px 40px;
}
.card__header_joke {
  position: relative;
  padding: 30px 30px 40px;
}
.card__header_activity {
  position: relative;
  padding: 30px 30px 40px;
}
.card__header_cars {
  position: relative;
  padding: 30px 30px 40px;
}
.card__header_Planetary {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header_iMeme:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--memeLight);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}
.card__header_iMemeLite:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--meme);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}
.card__header_burn:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--burnOrange);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card__header_random:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--random);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card__header_joke:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--jokes);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card__header_activity:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--activity);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card__header_BabySleep:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--babySleep);
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card__header_cars:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/RumbleCarsLogo.png");
  /* background-color: var(--babySleep); */
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card__header_Planetary:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/PlanetaryPursuitLogo.png");
  /* background-color: var(--babySleep); */
  /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}
.planet{
  color: rgb(255, 255, 255);
}

.ppPlanet {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(255, 255, 255);
  object-fit: cover;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(0, 0, 0);
  object-fit: cover;
}

.card__header h2 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 900;
  /* text-transform: uppercase; */
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

/* Divs */
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh;
}

/* To show apps*/
.apps {
  position: relative;
  width: 50%;
  height: 80%;
  left: 25%;
  top: 20%;
}

/* To jump to apps*/
.appJump {
  position: static;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
}

/* Animation to arrow */

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}



